.aboutme-wraper{
    background-color: white;
    margin: 2em;
    padding: 4em;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 1.5em;
}

.aboutme-wraper p {
    font-size: 0.9em;
}

.aboutme-wraper h5 {
    font-size: 1.2em;
}
.banner-img img{
    width: 96%;
    margin-bottom: -20%;
}

.project-banner-img img{
    width: 96%;
}

.opener{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.story{
    width: 99%;
    margin-top: auto;
    margin-bottom: 2em;
}

.topic-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
    text-align: left;
    align-items: left;
}

.final-product{
    margin-top: 5em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.final-product img{
    width: 100%;
}


.detail-container{
    padding-bottom: 2%;
    margin-left: 1em;
    margin-right: 1em;
}

.subhead{
    margin-top: 5em;
    font-weight: bold;
    background-color: #F48020;
    color: white;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8em;
    padding: 0.2em;
}
.compet{
    width: 100%;
}

.persona{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    row-gap: 1em;
    margin-top: 1em;
}
.persona img{
    width: 100%;
}

.sol{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0em;
    margin-top: 1em;
    margin-bottom: 5em;
}
.sol img{
    width: 100%;
}

.wf{
    margin-top: 1em;
    margin-bottom: 5em;
}

.reference-container{
    margin-top: 5em;
    line-height: 0.5em;
}
.reference-container p {
    font-size: 0.7em;
    line-height: 130%;
    text-align: left;
}

.stb {
    width: 65%;
}
.storyboard{
    margin-top: 3em;
}

.numuric{
    padding: 0.2em;
    background-color: #4177D8;
    border-radius: 50em;
    color: white;
    width: 1.6em;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    text-align: center;
}

.v-line {
    float: center;
    align-items: center; 
    justify-content: center;
    text-align: center;
    border-right: 2px solid #4177D8;
    height: 8em;
    width: 50%;
    margin-top: -3em;
}

.msgn{
    text-align: left;
}

.desc{
    text-align: center;
    font-size: 0.3em;
    color: rgb(99, 99, 99);
}
////////////IAP

.portfolio1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1em;
    margin-top: 1em;
    margin-bottom: 5em;
}
.portfolio1 img{
    width: 97.5%;
}

.map-line{
    display: block;
}

.compact{
    display: none;
}

.AI-card{
    display: block inline;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 0.8em;
    border: grey solid 1px;
    text-align: center;
}

.title-Ai{
    margin-top: 1em;
    margin-bottom: 3em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.resume-box{
    border: #4177D8 solid 1px;
    border-radius: 0.8em;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    text-align: left;
    padding: 1em;
}

.detail{
    padding-left: 1em;
    padding-right: 2em;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}


@media (max-width:1000px) {
    .aboutme-wraper{
        margin-top: 3em;
        padding: 0.2em;
    }
    .compact{
        display: block;
        margin-bottom: 2em;
        top:0;
        display: block;
    }
    .topic-info{
        display: none;
    }
    .intro{
        width: 100%;
        margin-bottom: -2em;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .subhead{
        width: auto;
        font-size: 1em;
    }
    .opener{
        width: 100%;
    }
    p {
        text-align: left;
        width: 100%;
    }
    iframe {
        display: none;
    }
    .com-non {
        display: none;
    }
    .resume-box p{
        font-size: 0.6em;
    }
    .back-button{
        position: fixed;
        top: 90vh;
        margin-left: -1em;
        width: 1em;
        height: 1em;
    }
}