body #pncBody{
    background-color: white;
}
.m-state{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.state h4{
    background-color: blanchedalmond;
    border-radius: 1em;
    padding: 1em;
    font-weight: 400;
    height: 3.5em;
}
.state p{
    text-align: left;
}
.state:nth-child(n){
    margin: 0 1em 0 1em;
}
.background-research{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 4em 0 0em 0;
}
.bg-red-l img{
    width: 100%;
}
.bg-red-l {
    text-align: left;
    padding-left: 4em;
}
.bg-red-r {
    text-align: left;
    padding-left: 4em;
}
.bg-red-r img{
    width: 100%;
}
.key-problems{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 4em 0 0em 0;
}
.subhead{
    display: block;
}
#chart{
    width: 85%;
}