body #homebg{
    text-align: center;
    position: relative;
    background-image: radial-gradient(circle, rgb(243, 117, 117) 0%, rgb(255, 196, 164) 100%);
}
h1 {
    font-size: 2em;
}
h1, h2{
    font-family: 'Red Hat Display', sans-serif;
}
.nav-bar {
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
}
.nav-bar a{
    text-decoration: none;
    color: rgb(45, 46, 47);
}
.link1 h2, a{
    color: rgb(27, 27, 27);
    text-decoration: none;
}
.back-button{
    position: fixed;
    left: 50%;
    top: 3em;
    transform: translateX(-50%);
    z-index: 15;
    background-color: rgb(45, 46, 47);
    padding: 1em;
    border-radius: 50em;
}
.homepage{
    margin-top: 10em;
    position: relative;
}
.ribbon p{
    margin: -10px 0 0 0;
    font-size: 1.2em;
}
.ribbon2 {
    justify-content: center;
    display: flex;

}
.ribbon3 h2{
    display: inline-block;
    font-size: 1em;
}
#mb-ver{
    visibility: visible;
}
#pc-ver{
    visibility: hidden;
}
.icon {
    display: inline-block;
    margin-top: 50px;
}
.icon img{
    width: 70%;
}
.icon span{
    text-align: center;
    display: block;
    visibility: hidden;
    margin-top: 10px;
}
.icon:hover span{
    visibility: visible;
    animation-delay: 100ms;
}
.rb-icon{

    border-radius: 10px;
    padding: 10px;
}

.project{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1em;
}
.pj-1:nth-child(n){
    background-color: white;
    border: white solid 1px;
    border-radius: 0.4em;
    margin: 0.3em;
}
.pj-2:nth-child(n){
    color: rgb(45, 46, 47);
    background-color: white;
    margin: 20px 60px 20px 60px;
    padding: 30px;
    box-shadow: 0.2em 0.2em 10px 0.5px rgba(26, 40, 58, 0.8);
    text-align: left;
    border-radius: 0.4em;
}
.pj-3{
    background-color: white;
    box-shadow: 0.2em 0.2em 10px 0.5px rgba(26, 40, 58, 0.2);
    border-radius: 0.4em;
    padding: 1em 0 2em 0;
}
.footer{
    margin-top: 4em;
    color: white;
}
.footer a{
    text-decoration: none;
}
.arrow{
    background-color: rgb(194, 85, 75);
    margin: 0px 20px 0 20px;
    border-radius: 0.3em;
    color: rgb(255, 255, 255);
}
.arrow a{
    text-decoration: none;
    color: white;
}
.tags{
    padding-bottom: 2em;
}
.tags p{
    display: inline-block;
    margin: 5px 5px 5px 5px;
    background-color: rgb(229, 229, 229);
    color: rgb(27, 27, 27);
    padding: 0 10px 0 10px;
    border-radius: 0.4em;
}
.arrow:hover{
    background-color: rgb(137, 59, 29);
}
.banner {
    margin: -20px;
    padding-bottom: 2em;
    border-radius: 1em;
}
.banner2{
    width: 30%;
    padding-bottom: 2em;
}
@media screen and (min-width: 700px){
    .back-button{
        position: fixed;
        left: 4em;
        top: 2.5em;
        z-index: 15;
    }
    h1 {
      font-size: 3.8em;
      margin-top: 100px;
    }
    .header{
        position: inherit;
        top: -20px;
        margin: 4em;
    }
    .nav-bar {
        z-index: 10;
        /* position: fixed;
        left: 50%;
        transform: translateX(-50%); */
        display:  inline-block;
        background-color: rgb(45, 46, 47);
        margin: 4em 0px 0 0px;
        padding: 0.4em;
        border-radius: 10em;
    }
    .nav-bar a{
        text-decoration: none;
        margin: 0 40px 0 40px;
        color: white;
    }
    .nav-bar a:hover{
        font-weight: 900;
        color: rgb(27, 27, 27);
        background-color: rgba(255, 255, 255,0.6);
        padding: 5px 20px 5px 20px;
        border-radius: 1em;
    }
    .icon {
        display: inline-block;
        margin-top: 50px;
        margin-left: -110px;
        margin-right: -110px;
    }
    .icon img{
        width: 35%;
        margin: 0 80px 0 80px;
    }
    .ribbon p{
        margin-top: -30px;
        /* font-size: 1.2em; */
    }
    .ribbon2{
        margin-bottom: 4em;
    }
    .ribbon3{
        margin-top: -2.5em;
        font-size: 1.3em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: rgb(255, 255, 255);
    }
    .ribbon3 a{
        color: rgb(255, 255, 255);
    }
    .topic a:hover{
        color: rgb(45, 46, 47);
    }
    .topic{
        background-color: rgb(45, 46, 47);
        padding: 0.3em;
        margin-top: 1.25em;
    }
    .topic:nth-child(n):hover{
        background-color: rgba(255, 255, 255, 0.6);
        color: rgb(45, 46, 47);
    }
    .topic:nth-child(1){
        border-radius: 0.8em 0 0 0.8em;
        /* border-right: solid rgb(194, 87, 76) 3px ; */
        border-right: solid rgb(255, 255, 255) 3px ;
    }
    .topic:nth-child(3){
        border-radius: 0 0.8em 0.8em 0;
        border-left: solid rgb(255, 255, 255) 3px ;
    }
    #mb-ver{
        visibility: hidden;
    }
    #pc-ver{
        visibility: visible;
    }
    .project{
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        margin: 1em 4em 1em 4em;
    }
    .pj-1{
        padding: 1em 0 2em 0;
        box-shadow: 0.2em 0.2em 10px 0.5px rgba(26, 40, 58, 0.2);
    }
    .pj-1 h2{
        font-size: 2.5em;
    }
    #brief {
        margin-top: -45px;
        padding: 2em;
    }
    .pj-1:hover{
        box-shadow: 0.2em 0.2em 10px 1px rgba(53, 58, 66, 0.5);
    }
    .pj-1:nth-child(n){
        border: white solid 1px;
        border-radius: 0.4em;
        margin: 0.3em;
    }
    .pj-1:first-child{
        grid-row: 1/span 2;
    }
    .pj-2:nth-child(n){
        padding: 80px;
    }
    .punching{
        display: inline-block;
        height: 8px;
        width: 8px;
        background-color:rgb(27, 27, 27);
        border-radius: 50em;
        align-items: center;
    }
    .arrow{
        background-color: rgb(194, 85, 75);
        margin: 0px 250px 1em 250px;
        border-radius: 10em;
        color: rgb(250, 250, 250);
        line-height: 1.8em;
    }
    .project2{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2em 4em 1em 4em;
        gap: 0.8em;
    }
    .pj-3{
        gap: 2em;
    }
}